---
layout: default
---
<img class="nivo-main-image" src="https://www.spain.info/export/sites/segtur/.content/images/cabeceras-grandes/castilla-mancha/CASA-MUSEO-GRECO-toledo-c-patronato-municipal-de-turismo-de-toledo.jpg" style="display: inline; width: 1365px; height: auto;">
<div class="container" id="block4">
  <div class="block-title">
    <h3 class="u-border-bottom-m u-text-h4 u-margin-r-bottom u-text-r-m u-color-black u-textWeight-400 block-title-italia u-color-60" style="text-align:center;">
      <a href="javascript:void(0);" class="u-block u-text-h3 u-textClean">Eventi e News</a>
    </h3>
  </div>

  <div class="u-text-r-l u-padding-r-all u-nbfc u-background-white block-italia u-borderShadow-xxs block-content block-content-news">
    <div class="u-layout-wide u-layoutCenter gridNews">
      <section class="Grid Grid--withGutter u-padding-all-l">
        {% assign posts = site.posts | sort: 'date' | reverse %}
        {% for post in posts limit: 8 %}
          <div class="Grid-cell u-md-size3of12 u-lg-size3of12 u-margin-top-m gridNews-item">
            <div class="u-nbfc u-border-all-xxs u-color-grey-30 u-background-white">
              <article>
                {% if post.image %}
                  <img class="u-sizeFull" alt="{{ post.title }}" src="{{ post.image }}" style="height:220px;">
                {% endif %}
                <div class="u-text-r-l u-padding-r-all u-layout-prose">
                  {% if post.category %}
                    <p class="u-text-h6 u-margin-bottom-l">
                      <a class="u-color-50 u-textClean" href="{{ site.baseurl }}/news/#{{ post.category | slugify }}">{{ post.category }}</a>
                    </p>
                  {% endif %}
                  <h3 class="u-text-h4 u-margin-r-bottom" style="border:0!important;">
                    <a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="{{ post.url | relative_url }}">
                      {{ post.title }}
                    </a>
                  </h3>
                  <div>
                    <div class="u-color-grey-80">
                      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }}</time>
                    </div>
                    <div class="Prose string-long Abstract">
                      <p class="u-text-p u-textSecondary">{{ post.excerpt | strip_html | truncatewords: 35 }}</p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        {% endfor %}
      </section>
    </div>

    <div class="u-text-md-right u-text-lg-right u-margin-r-top u-margin-top-l u-color-50 u-text-h4">
      <a class="u-color-50 u-textClean u-text-h4" href="{{ site.baseurl }}/feed.xml" target="_blank">
        <img alt="Rss" src="/c054035/immagini/Rss.png" style="vertical-align: middle!important; margin-bottom:4px;"> Segui il feed
      </a>
      &nbsp;|&nbsp;<a class="u-color-50 u-textClean u-text-h4" href="{{ site.baseurl }}/news/">tutti i contenuti <em class="Icon Icon-chevron-right"></em></a>
    </div>

    <div class="block-text-text" style="background-color: #E3E3E3; border-top: 1px solid #D3D3D3; text-align: center;">
      <a href="{{ site.baseurl }}/news/archive/" class="block-text-text-right">Archivio »</a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof imagesLoaded !== 'undefined' && typeof Masonry !== 'undefined') {
      imagesLoaded(document.querySelector('.gridNews'), function () {
        new Masonry('.gridNews', {
          itemSelector: '.gridNews-item',
          percentPosition: true
        });
      });
    }
  });
</script>

